/* CSS Variables for colors */
:root {
    --main-bg-color: #f6f6f6;
    --primary-font-color: #444;
    --primary-blue: #005FAE;
    --light-gray: #f3f3f3;
    --med-gray: #c7c7c7;
    --white: #fff;
    --trees-green: #014421;
    --gold-medal: #DDAF0F;
    --button-color: #69be94;
    --dark-brown: #72634f;
    --smog-brown: #c5a16f;
    --pri-blue: #024681;
    --dark-blue: #023859;
}

/* CSS common styles for all viewports */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: var(--primary-font-color);
    font-size: 1rem;
    padding: 20px;
}

.container {
    margin: 0 auto;
    border: 1px solid var(--med-gray);
    border-bottom: none;
}

h1 {
    border-bottom: 1px solid var(--med-gray);
}

strong {
    color: black;
    font-weight: 800;
}

sub {
    line-height: 0.2rem;
    font-size: 0.6rem;
}

#energy-widget {
    overflow: hidden;
}

.panel {
    width: 100%;
    clear: both;
    position: relative;
}

a:link,
a:visited {
    color: var(--pri-blue);
}

a:hover {
    color: var(--dark-blue);
}

/* vertical media queries for panel so the buttons show up OK in short height viewports */
@media only screen and (min-height: 100px) {
    .panel {
        height: 70vh;
    }
}

@media only screen and (min-height: 500px) {
    .panel {
        height: 360px;
    }
}

.cars,
.trees,
.co2 {
    position: absolute;
    overflow: hidden;
    height: inherit;
}

.how {
    padding: 0;
    margin: 0;
    font-size: 0.725rem;
    float: right;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.visual {
    width: 50%;
    float: left;
}

.info {
    width: 50%;
    float: left;
}

.btn-group {
    clear: both;
    width: calc(100% + 2px);
    margin: 0 auto;
}

.btn-group button {
    background-color: var(--button-color);
    border: 1px solid white;
    color: white;
    padding: 16px 24px;
    cursor: pointer;
    float: left;
    width: 33.3%;
    font-size: 0.8rem;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover,
button.active {
    background-color: var(--trees-green);
}

.fas {
    letter-spacing: 10px;
}

.fa-car-side.lg {
    font-size: 50px;
    color: var(--med-gray);
    animation: carOut 4s 2 alternate backwards;
    animation-timing-function: ease-out;
    animation-delay: 2s;
}

.fa-car-side,
.fa-tree,
.fa-smog,
.fa-info-circle {
    font-size: 1rem;
}

.fa-info-circle {
    letter-spacing: 4px;
}

.fa-tree.lg {
    color: var(--trees-green);
    animation: treeGrow 4s forwards;
    animation-timing-function: ease-out;
}

.fa-smog.lg {
    color: var(--light-gray);
    text-align: center;
    display: block;
    animation: smogReduce 3s;
    animation-timing-function: linear;
}

.fa-medal {
    color: var(--gold-medal);
    font-size: 1.625rem;
    float: left;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: all .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter {
    transform: translateX(100px);
}

.fade-leave-to {
    transform: translateX(-100px);
}

@keyframes smogReduce {
    0% {
        color: var(--dark-brown);
    }

    30% {
        color: var(--smog-brown);
    }

    70% {
        color: var(--med-gray);
    }

    100% {
        color: var(--light-gray);
    }
}

@keyframes carOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    30% {
        transform: translateX(100px);
        opacity: 0.7;
    }

    50% {
        transform: translateX(300px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(4000px);
        opacity: 0;
    }
}

/* small media query styles only */
@media only screen and (min-width: 100px) {
    body {
        line-height: 20px;
        color: var(--primary-font-color);
        font-size: 0.8rem;
        padding: 5px;
    }

    .container {
        max-width: none;
    }

    h1 {
        font-size: 1.1rem;
        margin: 12px 12px 8px;
        padding-bottom: 8px;
    }

    h2 {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 600;
        margin: 0 auto;
    }

    .visual {
        width: 50%;
        float: left;
        padding: 10px 10px 10px 14px;
    }

    .info {
        padding: 0px 14px 10px 10px;
    }

    .fa-car-side.lg {
        font-size: 2rem;
    }

    .fa-smog.lg {
        font-size: 6rem;
    }

    @keyframes treeGrow {
        0% {
            font-size: 0.5rem;
            opacity: 0.5;
        }

        20% {
            font-size: 2rem;
            opacity: 0.6;
        }

        60% {
            font-size: 2.5rem;
            opacity: 0.7;
        }

        80% {
            font-size: 3rem;
            opacity: 0.8;
        }

        100% {
            font-size: 4rem;
            opacity: 1;
        }
    }
}

/* large media query styles only */
@media only screen and (min-width: 600px) {
    body {
        line-height: 24px;
        font-size: 1rem;
        padding: 20px;
    }

    .container {
        max-width: 800px;
    }

    h1 {
        font-size: 1.6rem;
        margin: 24px 24px 10px;
        padding-bottom: 20px;
    }

    .visual {
        padding: 20px 0px 20px 24px;
    }

    .info {
        padding: 0px 24px 20px 20px;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 26px;
        font-weight: 600;
    }

    .fa-car-side.lg {
        font-size: 3.125rem;
    }

    .fa-smog.lg {
        font-size: 12.5rem;
    }

    @keyframes treeGrow {
        0% {
            font-size: 0.625rem;
            opacity: 0.5;
        }

        20% {
            font-size: 2.5rem;
            opacity: 0.6;
        }

        60% {
            font-size: 3.75rem;
            opacity: 0.7;
        }

        80% {
            font-size: 4.375rem;
            opacity: 0.8;
        }

        100% {
            font-size: 5rem;
            opacity: 1;
        }
    }
}